/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
#loadingAnimation{
	margin-left: auto;
	margin-right: auto;
}
.photos a {
	width:480px;
	height:260px;
	padding:5px;
}

.photos a img{
	padding: 8px;
	border:1px solid #D6D1D1;-moz-box-shadow:3px 3px 4px #000;-webkit-box-shadow:3px 3px 4px #000;box-shadow:3px 3px 4px #000;background:#fff;filter:progid:DXImageTransform.Microsoft.Shadow(Strength=4,Direction=135,Color='#000000');
}